[submodule "database/database"]
	path = database/database
	url = git@github.com:brotalnia/database.git
	branch = master
[submodule "builder/opt/core"]
	path = builder/opt/core
	url = git@github.com:vmangos/core.git
	branch = development
[submodule "mangosd/opt/vmangos/warden_modules"]
	path = mangosd/opt/vmangos/warden_modules
	url = git@github.com:CW60/warden_modules.git
	branch = master
[submodule "wowsimpleregistration/wowsimpleregistration"]
	path = wowsimpleregistration/wowsimpleregistration
	url = git@github.com:masterking32/WoWSimpleRegistration.git
	branch = master
